.jumboDisplay{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    background: lightblue;
    border-radius: ;
  
}

.agendaP{
    font-size: large;
    color:black;
    text-decoration: underline;
}

.jumboDisplay #currentDate{
    font-size: large;
    color:red;
}

.jumboDisplay #currentTime{
    font-size: large;
    color: red;
}

.saveBtn{
    color: blue; 
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

.appointmentNotes{
    background:red;
}
.past{
    background: gray;
}

.present{
    background: rgb(48, 165, 48);
}

.future{
    background: lightblue;
}
.container{
    padding: 5px;

}